# Install Selenium

In [1]:
# ! pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting selenium
  Downloading selenium-4.1.3-py3-none-any.whl (968 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\program files\python1\lib\site-packages (from selenium) (1.26.4)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Requirement already satisfied: idna in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\program files\python1\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\program files\python1\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\program files\python1\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\program files\python1\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\program files\python1\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\program files\python1\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\program files\python1\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.3 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

# 1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location from naukri.com

# Import Libraries

In [187]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

# Connect with webdriver

In [2]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
#driver= webdriver.Chrome('chromedriver.exe')

In [29]:
#driver.close()

In [3]:
driver.get('https://www.naukri.com/')

# Finding Elements For Job Search

In [4]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_field_location= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [5]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

Opening the specific page with url

In [23]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [24]:
driver.get(url)

In [6]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# Job Title

Find all tags with Job Title

In [7]:
title_tag= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="df7b5ab2-8485-4c73-af2b-6c586ac7b5c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="38c723fa-7aa1-4764-9a97-384501b269af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="1184f08a-6b45-442a-94fd-82701e39c485")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="773ca98d-dd27-4509-8716-4c98deeb20b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="bcddb6e1-2b67-43e8-91c2-e007f0b94c24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="b51d18a3-c6bf-4fb6-a477-762b13df466e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="345c5ddf-af0a-4374-9487-cee8dc315031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="729b61ba-9477-450c-9559-7297ff5753d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="4256f491-0f83-4715-8239-5fe6bea663ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="d3215cee-f806-4c42-a8a2-a8948197e8a4")>]

The tags have the text inside it. Then we will scrap the title from it.

In [8]:
for i in title_tag:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Sr Domain Expert -Data Analysts',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - Collibra',
 'Staff Business Data Analyst - FDP']

# Job Location

Find all tags with Job Location

In [9]:
location_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="453f2011-4c85-4309-9e5e-fa1c33397e9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="ef30df15-f7fd-4767-baed-5af180d7bfff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="c680b894-3f4e-45de-b491-c257e8930acc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="a0ef7b35-bd95-44f9-a698-3c961dbeb53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="7327c508-5752-455c-a454-71dd9c2caafc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="a624d14b-a208-4b22-9986-9bab38fd120e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="da36dadb-b4fa-4d93-a68f-7f5671645668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="b6e2a755-6caf-4ae1-b1b1-1db443b124ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="00066f25-98e0-4089-8875-b37f9d730ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="7a0501d4-d2e4-40fc-b577-90b9a8c3c28b")>]

In [10]:
# We will scrap the location details from the tag

for i in location_tag:
    location=i.text
    job_location.append(location)
    
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

# Company Name

Find all tags with company name

In [11]:
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="0190ec3d-a275-4213-8e20-ed38474fd464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="2f56ea3c-5eaf-4f1d-9e01-373eba5574ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="d3150bfb-46e2-4c99-b95a-441ca3708a59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="48ef0e4d-07f5-4218-851a-bdf3c075c53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="38469c84-4086-4a23-8b6a-9c0c86ea6835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="983975f8-16e8-4676-a704-38fac5052d35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="398b2a24-80fc-4cb4-a2f5-d5f5b0ceb656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="db881682-4d1d-44f7-8a7a-2993bec3dc83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="a62eee8f-4534-4492-84f1-d7d023646a13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="32d9022e-dd31-4528-b433-d9b01d6460b5")>]

In [12]:
# Now we will take only the company name text from it.

for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:10]

['Siemens',
 'Walmart',
 'FINNOVATION TECH SOLUTIONS PRIVATE LIMITED',
 'Dell Technologies',
 'Cerner',
 'Enrich talents',
 'LatentView',
 'Intel',
 'Shell',
 'Intuit Inc.']

# Experience Required

Find all tags with experience

In [13]:
experience_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="ff35aeb8-b885-4ff5-b5c6-f9a41f03e5bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="f33c05c3-3e8c-4812-9aae-f6923d5f5ee7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="42a62c2d-fb00-4791-adb7-ce6d232311d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="8a4c88b3-4829-42c0-b3d7-6fdaee8a164b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="a01617ec-e7c4-4505-9d65-e6e16dc4d4c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="72783f9f-cc59-451c-b673-1d3d9e904f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="9634b95c-c1d8-436a-9507-766da5eaa69c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="14493cbe-ba8c-4ede-8db2-fb4f653bf38b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="bc3d1113-9d61-47b8-bdd0-8381d4f4b4e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ffd9a30f1cb063f6ea5c8f600c3cc2d", element="49af314d-03f3-484d-b17f-8f49a02e2b30")>]

In [14]:
# Now we will scrap the experience required from the tag

for i in experience_tag:
    experience=i.text
    experience_required.append(experience)
    
experience_required[0:10]

['0-10 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '8-12 Yrs',
 '0-4 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '5-7 Yrs']

Check The Length of the lists before storing in a dataframe

In [15]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

20 20 20 20

# Make Dataframe

In [16]:
df=pd.DataFrame({'Job_Title': job_title, 'Job_Location': job_location, 'Company_Name': company_name, 'Experience_Required': experience_required})
df[0:10]

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Walmart,5-8 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs
3,Senior Data Analyst (Digital Services Analytics),Bangalore/Bengaluru,Dell Technologies,1-6 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Cerner,8-12 Yrs
5,Data Analyst,Bangalore/Bengaluru,Enrich talents,0-4 Yrs
6,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,2-6 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Intel,3-8 Yrs
8,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
9,Staff Business Data Analyst - FDP,Bangalore/Bengaluru,Intuit Inc.,5-7 Yrs

In [17]:
driver.close()

# 2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location from Naukri.com

# Connect With WebDriver

In [18]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [19]:
driver.get('https://www.naukri.com/')

# Finding Elements For Job Search

In [20]:
search_field_designation= driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')
search_field_location= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

# Click Search Button

In [21]:
search_button= driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [22]:
job_title=[]
job_location=[]
company_name=[]

# Job Title

To find all the tdgs with job title

In [23]:
title_tag= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="06ca2628-de52-40fa-94b6-aee307dc7ffb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="d28621fb-bce5-4226-8164-1b59a8df2162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="d0a76439-6223-45bb-98ce-8387fb5315e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="1b7858ee-1d11-4511-b553-97d7f7d4bcc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="4861c2ba-dcf3-48cd-a8d0-135734f6cec7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="6f0f20ec-a7dc-4401-93df-2799009b6908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="ede6ae6e-0ea2-4f0f-8599-806cc036a1f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="89e16617-d0e2-4623-b349-fb247d2dd4e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="f7e77298-239f-40f4-a03c-828a64aeb8af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="94caaaf6-aca5-4e8b-b93e-aca6ae6fd654")>]

we will scrap the text from the tag.

In [24]:
for i in title_tag:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist',
 'Data Scientist',
 'Manager - Data Scientist Job @ Applied Materials - Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Junior Data Scientist',
 'Data Analyst / Data Scientist',
 'DATA Scientist with Fraud Analytics Experience',
 'Staff Data Scientist']

# Job Location

To Find all tags with Job Location

In [25]:
location_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="f8bab7e1-0f05-4341-976f-3518aa2b9663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="c1ea224f-7e31-4a09-b843-b4d7f8cceb1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="c4f3d006-0db3-4d2c-b6f9-3e8a6e348556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="20f92219-a355-443d-b50f-0d7752230f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="c8dbdc1a-5ce3-451e-ad6b-cba7b19b1468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="9db39c64-1f5e-465c-827e-96be312759bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="cc8f4f60-ef94-4354-83d5-0467ade1fe67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="f72a89c5-2855-4480-95b0-0b5ae49123bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="eecdb7cf-c297-4e7a-a12b-bdbbb9e991ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="ff24e097-6d96-4f05-b1be-202f8aa73350")>]

We will scrap the location details from the tag

In [26]:

for i in location_tag:
    location=i.text
    job_location.append(location)
    
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

# Company Name

To Find all tags with company name

In [27]:
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="7a1f7412-bb8e-407d-a210-005a94207536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="733a1cee-554b-4767-ac1f-d2854cdfeaf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="78dda807-3ccb-48b9-b072-e6570e85a57d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="4b1ed196-41d2-4f10-92e3-fa729140359f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="7588d885-c116-4176-b954-4270aaf8dea7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="2f2e59b8-c56b-402b-b806-669a22f3bb5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="d1d8c9f3-e421-4a7f-baf7-5439b82b5902")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="554f6c08-94a3-4e57-8169-c0f97769f3fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="19bdf314-cfcc-4cf5-b0a6-3bf41d703a4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98832f204942906a2d1471468221364e", element="ec2f6e40-cccc-4ba1-8ea4-008dd6c76a99")>]

Now we will take only the company name text from it.

In [28]:

for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:10]

['Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Flipkart',
 'GSK India',
 'GSK India',
 'Accenture',
 'JK Technosoft',
 'Concentrix',
 'Walmart']

Check The Length of the lists before storing in a dataframe

In [29]:
print(len(job_title), len(job_location), len(company_name))

20 20 20

# Make Dataframe

In [30]:
df=pd.DataFrame({'Job_Title': job_title, 'Job_Location': job_location, 'Company_Name': company_name})
df[0:10]

,Job_Title,Job_Location,Company_Name
0,Data Scientist,Bangalore/Bengaluru,Applied Materials
1,Data Scientist,Bangalore/Bengaluru,Applied Materials
2,Manager - Data Scientist Job @ Applied Materia...,Bangalore/Bengaluru(Whitefield),Applied Materials
3,Senior Data Scientist,Bangalore/Bengaluru,Flipkart
4,Senior Data Scientist,Bangalore/Bengaluru,GSK India
5,Senior Data Scientist,Bangalore/Bengaluru,GSK India
6,Junior Data Scientist,Bangalore/Bengaluru,Accenture
7,Data Analyst / Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",JK Technosoft
8,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix
9,Staff Data Scientist,Bangalore/Bengaluru,Walmart

In [31]:
driver.close()

# 3. Python program to scrape data using the filters available from Naukri.com

# Connect with webdriver

In [32]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [33]:
driver.get('https://www.naukri.com/')

# Finding Elements For Job Search

In [34]:
search_field_designation= driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Scientist")

# Click Search Button

In [35]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

# To click the location and Salary filter

Location

In [36]:
search_location=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
search_location.click()

salary

In [37]:
search_salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search_salary.click()

In [38]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# Job Title

To Find all tags with Job Title

In [39]:
title_tag= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="d6208b54-d183-49c0-915f-cfabb0d08aa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="c9aaeeda-3994-440a-b107-cf7b5d33a4b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="e6e4de68-b1f8-440b-8291-8d87ef0b0279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="ab2a077a-0049-4e75-b4ff-ccbaa8de520e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="53d44b2f-74fd-40d4-a92b-819f51719cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="19ec542c-d251-43b1-a5ea-219ff0b08a62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="125b4f41-de18-49f8-996e-71b26f516213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="c904b81b-86fd-41ab-8fec-eedb610b03d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="e8321604-90ee-4d07-8556-f23846659077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="7b320dd3-67df-4a7f-be50-d37e2894afc8")>]

The tags have the text inside it. Then we will scrap the title from it.

In [40]:
for i in title_tag:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Hiring For Senior Data Scientist-Noida',
 'Opening For Data Scientist',
 'Lead Data Scientist',
 'Data Scientist (freelance)',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'AM Data Scientist - Goods & Service Tax Network, Delhi']

# Job Location

To Find all tags with Job Location

In [41]:
location_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="5b1e7f5f-80a7-4daf-a6d8-b43ca38337cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="a898b5a7-ce47-4205-8797-af4827924eea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="1f8a7aa9-888a-4a8c-99ba-50b915f198a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="415236e2-4af3-4374-8cc9-fbea1520da61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="6a9b5f4c-d9f8-442c-95ed-b6f679602707")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="443ad866-7c22-43d7-8245-d951abbeefeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="dc9d6aec-c83e-438c-a315-a753b4b65469")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="392ce1ec-7f6d-4883-8a2f-0154d14c37de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="cfbb0ac6-923c-4744-876a-2c6d93934269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="24e9b246-8917-47d7-880e-d15e75823781")>]

We will scrap the location details from the tag

In [42]:

for i in location_tag:
    location=i.text
    job_location.append(location)
    
job_location[0:10]

['Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Noida',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Noida, Delhi / NCR',
 'Delhi / NCR']

# Company Name

To Find all tags with company name

In [43]:
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="e720ff0c-bc6f-4034-a0d1-12ccf035a099")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="371f6669-ad8c-4b26-b19d-c0861cceddf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="5e5d605c-15a5-4285-96f6-0c5a2a758b0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="2f427e14-b9fc-47c9-bf70-cb515a66ea0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="a18b1edb-0cfe-4a5c-9408-05702df93955")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="979fc145-1729-4dd6-96c8-c06cb6f543b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="d71c4e7a-2693-4a58-833b-347eb45204cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="932471c7-2e33-4dd0-8a5a-1e2179c12a1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="a0942bab-43c4-47c2-abee-6997334b4b91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="1e7dd3b4-7d4a-4cc3-bad3-8401787e3924")>]

Now we will take only the company name text from it.

In [44]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:10]

['Creative Hands HR Consultancy',
 'Lumiq.ai',
 'Care Health Insurance',
 'KIA INDIA PRIVATE LIMITED',
 '2Coms',
 'Optum',
 'BlackBuck',
 'Boston Consulting Group',
 'HCL Technologies',
 'NISG (National Institute for Smart Government)']

# Experience Required

To Find all tags with experience

In [45]:
experience_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="304cfe76-685e-4efe-9729-54381c50e5ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="c9aa7081-f2d8-468e-b3aa-4526235c5587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="2000cc7d-acc2-4f55-9725-bf66b0507a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="f672c556-a1ee-4ef2-9445-8482a8b90a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="331dd737-69f9-40c6-91fa-43a070152a64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="f9094e6f-ee04-484d-aa80-cb11ecfe04ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="965b5ea2-e2e5-4f7c-8473-a98dbab3a8e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="9995623e-609e-431c-85eb-a935fe2073bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="9003b526-1b79-4c5b-b84e-0bd99b4dc1c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c999dc6c653a2cdde79c6833a7ffa0f5", element="7d1f408e-a404-46bf-9980-05808f786be2")>]

Now we will scrap the experience required from the tag

In [46]:
 for i in experience_tag:
    experience=i.text
    experience_required.append(experience)
    
experience_required[0:10]

['0-4 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '7-10 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-8 Yrs']

In [47]:
experience=experience_required[0:20]

Check The Length of the lists before storing in a dataframe

In [48]:
print(len(job_title), len(job_location), len(company_name), len(experience))

20 20 20 20

# Make Dataframe

In [49]:
df=pd.DataFrame({'Job_Title': job_title, 
                 'Job_Location': job_location, 
                 'Company_Name': company_name, 
                 'Experience_Required': experience})
df[0:10]

,Job_Title,Job_Location,Company_Name,Experience_Required
0,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
1,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
2,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
3,Lead Data Scientist,Gurgaon/Gurugram,KIA INDIA PRIVATE LIMITED,7-10 Yrs
4,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
5,Senior Data Scientist,Noida,Optum,2-7 Yrs
6,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
7,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
8,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
9,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs

In [50]:
driver.close()

# 4.Python Program to Scrape data of first 100 sunglasses listings on flipkart.com

# Connect with webdriver

In [51]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [52]:
driver.get('https://www.flipkart.com/')

In [53]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

# Finding Elements For Product Search

In [54]:
search_field_products= driver.find_element_by_class_name("_3704LK")
search_field_products.send_keys("Sun Glasses")

# Click Search Button

In [55]:
search_icon=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon.click()

In [56]:
product_name=[]
product_description=[]
price=[]
discount=[]

# Product Name, Description, Price, Discount

To find all the tags with required elements

In [57]:
for i in range(3):
    
    product_tag= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    description_tag= driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tag= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount_tag= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for products in product_tag:
        product_name.append(products.text)

    for description in description_tag:
        product_description.append(description.text)

    for prices in price_tag:
        price.append(prices.text)

    for discounts in discount_tag:
        discount.append(discounts.text)

next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

Check The Length

In [58]:
print(len(product_name), len(product_description), len(price), len(discount))

120 120 120 120

# Make Dataframe

In [59]:
df=pd.DataFrame({'Product_Name': product_name,
                 'Product_Description': product_description,
                 'Price':price, 
                 'Discount': discount})
df[0:100]

,Product_Name,Product_Description,Price,Discount
0,PIRASO,UV Protection Rectangular Sunglasses (60),₹399,84% off
1,PIRASO,UV Protection Rectangular Sunglasses (52),₹280,89% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹249,80% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹269,89% off
...,...,...,...,...
95,PIRASO,UV Protection Over-sized Sunglasses (60),₹375,85% off
96,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹199,80% off
97,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹304,82% off
98,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
99,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹320,87% off

In [60]:
driver.close()

# 5.Scrape 100 reviews data from flipkart.com for iphone11 phone

# Connect With The Driver

In [188]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [189]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'

In [190]:
driver.get(url)

Expand the Review page first

In [191]:
expand_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span")
expand_button.click()

# TO Scrap the required tags and details

In [192]:
ratings=[]
review_summary=[]
full_review=[]

In [193]:
for i in range(10):
    rating_tag= driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") # TO Find full tag of ratings
    review_summary_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']") # To Find the tags with summary of review
    full_review_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']") # To Find the tags with full reviews
    for rating in rating_tag:
        ratings.append(rating.text)
    for summary in review_summary_tag:
        review_summary.append(summary.text)
    for review in full_review_tag:
        full_review.append(review.text)
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [194]:
ratings= ratings[0:100]
review_summary=review_summary[0:100]
full_review=full_review[0:100]

Check the length of the columns

In [195]:
print(len(ratings), len(review_summary), len(full_review))

100 100 100

# Make Dataframe

In [196]:
df=pd.DataFrame({'Ratings': ratings,
                 'Review_Summary': review_summary, 
                 'Full_Review': full_review})
df

,Ratings,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [197]:
driver.close()

# 6. Program To Scrape data for first 100 sneakers you find when you visit flipkart.com

In [198]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [199]:
driver.get('https://www.flipkart.com/')

In [200]:
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

# Finding elements

In [201]:
search_product= driver.find_element_by_class_name("_3704LK")
search_product.send_keys("Sneakers")

# Search icon

In [202]:
search_icon=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon.click()

# To find the tag and scrap the text out of it

In [203]:
brand=[]
product_description=[]
price=[]
offer=[]

In [204]:
for i in range(3):
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_description_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    offer_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for brands in brand_tag:
        brand.append(brands.text)
    for description in product_description_tag:
        product_description.append(description.text)
    for prices in  price_tag:
        price.append(prices.text)
    for offers in offer_tag:
        offer.append(offers.text)
        
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [205]:
brand=brand[0:100]
product_description=product_description[0:100]
price=price[0:100]
offer=offer[0:100]

# Check length of the columns

In [206]:
print(len(brand), len(product_description), len(price), len(offer))

100 100 100 100

# Make DataFrame

In [207]:
df=pd.DataFrame({'Brand': brand, 
                 'Product_Description': product_description,
                 'Price': price,
                 'Offer': offer})
df

,Brand,Product_Description,Price,Offer
0,white tape,Easy Vulc 2.0 Sneakers For Men,₹675,57% off
1,ADIDAS,"Casual , Partywear Sneakers Shoes For Men's An...","₹1,982",50% off
2,D-SNEAKERZ,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹299,54% off
3,URBANBOX,516 Trendy Star Perfect Sneakers For Men,₹198,80% off
4,corsac,Modern Trendy Sneakers Shoes Sneakers For Men,₹499,66% off
...,...,...,...,...
95,Layasa,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹449,55% off
96,Chevit,Perfect Combo Pack of 03 Pairs Casual Sneakers...,₹649,59% off
97,KWIK FIT,Series 7 Sneakers For Men,₹397,80% off
98,Kraasa,Sneakers For Men,₹471,52% off
99,Layasa,Sneakers For Men,₹449,55% off

In [208]:
driver.close()

# 7. Program to scrape First 100 shoes with Brand and price filter

# Connect With Driver

In [209]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [210]:
url='https://www.myntra.com/shoes'

In [211]:
driver.get(url)

# To Click the price filter

In [212]:
search_price=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
search_price.click()

# To Click the color filter

In [213]:
search_color=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
search_color.click()

# To Find Tag and scrap the text out of it

In [214]:
brand=[]
product_description=[]
price=[]

In [215]:
for i in range(3):   
    brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    product_description_tag= driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tag=driver.find_elements_by_xpath("//div[@class='product-price']")

    for brands in brand_tag:
        brand.append(brands.text)

    for description in product_description_tag:
        product_description.append(description.text)

    for prices in price_tag:
        price.append(prices.text.split()[1].replace('Rs.',''))
        
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_button.click()

Check The Length of the columns

In [216]:
print(len(brand), len(product_description), len(price))

150 150 150

# Make Dataframe

In [217]:
df= pd.DataFrame({'Brand': brand, 
                  'Product_description': product_description,
                  'Price': price})
df[0:100]

                  Brand            Product_description  Price
0                  ALDO            Men Leather Loafers  11199
1                  ALDO      Men Leather Driving Shoes   9099
2                  ALDO           Men Printed Sneakers   9099
3                  ALDO      Men Woven Design Sneakers  13999
4                  ALDO            Men Leather Loafers  11199
..                  ...                            ...    ...
95                 Puma  Men D Nitro WTR Running Shoes  11199
96                 ALDO      Men Leather Formal Derbys  11899
97       Tommy Hilfiger       Men Solid Suede Sneakers   7199
98  PERFLY By Decathlon    Men Textile Badminton Shoes   9211
99              Bugatti              Men Walking Shoes   7199

[100 rows x 3 columns]

In [218]:
driver.close()

# 8.Python Program to Scrap laptop details from amazon.in

In [102]:
#from selenium.common.exceptions import NoSuchElementException

In [219]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [220]:
driver.get('https://www.amazon.in/')

# Finding Elements For Search

In [221]:
search_product= driver.find_element_by_xpath("//input[starts-with(@id,'twotabsearchtextbox')]")
search_product.send_keys("Laptops")

# Find Search Icon

In [222]:
search_product= driver.find_element_by_xpath("//input[starts-with(@id,'nav-search-submit-button')]")
search_product.click()

# To Click CPU Type Filter

In [223]:
CPU_type1=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/span")
CPU_type1.click()

# To Find the title, price and ratings

In [224]:

ratings=[]

In [225]:
title=[]
title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tag:
    title.append(i.text)
title= title[0:10]
title

['HP Chromebook Intel Celeron N4020 35.6cm(14 inches) Micro-Edge, Touchscreen Laptop (4GB RAM/64GB eMMC/Chrome 64/UHD Graphics,1.49kg), 14a-ca0506TU, Mineral Silver',
 "Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD Laptop (4GB/256GB SSD/Windows 11/Office 2021/Platinum Grey/1.2Kg), 81VT009UIN",
 "Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/MS Office 2021/Platinum Grey/1.5Kg), 81WH007KIN",
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable Storage 14inch(35.6 cm) Thin & Light Touchscreen Laptop (Chrome OS/B&O/Google Assistant/BL Keyboard/1.46 kg),14a-na0003TU',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable Storage 14inch(35.6 cm) Thin & Light Touchscreen Laptop (Chrome OS/B&O/Google Assistant/BL Keyboard/1.46 kg),14a-na0002TU',
 "Lenovo IdeaPad 3 Chromebook Intel Celeron N4020 14'' FHD Laptop (4GB/64GB eMMC/Chrome OS/Upto 10hr Battery/2W HD Speaker/Platinum Grey/1.4Kg), 82C1002EHA",
 'HP 14s-Intel Celeron N4500- 8GB RAM/256GB SSD 14 inch(35.6cm) HD, Micro-Edge Display (UHD Graphics/Alexa/Dual Speakers/Fast Charge/Win 11/MS Office), 14s- dq3032tu',
 'AVITA SATUS ULTIMUS S111 NU14A1INC43PN-MB 14.1 FHD (35.81cms) Laptop (Intel Celeron N4020/4GB/128GB SSD/FHD Display/Windows 11 Home/ Intel UHD Graphics), Matt Black',
 'Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6" (29.46cm) HD Thin & Light Laptop (4GB/256 GB SSD/Windows 10/MS Office/Platinum Grey/1.2Kg), 81VT0071IN']

In [226]:
#ratings_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[18]/div/div/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]")  
#ratings_tag.click()
#time.sleep(3)

In [227]:
price=[]
price_tag=driver.find_elements_by_xpath("//a[@class='a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']/span[1]")
for i in price_tag:
    price.append(i.text.split())
    
price=price[0:10]
price

[['₹29,490'],
 ['₹28,553'],
 ['₹28,301'],
 ['₹26,990'],
 ['₹25,590'],
 ['₹24,460'],
 ['₹21,990'],
 ['₹21,990'],
 ['₹29,899'],
 ['₹29,999']]

Check The Length

In [228]:
print(len(title), len(price))

10 10

# Make DataFrame

In [229]:
df=pd.DataFrame({'Title': title, 'Price': price})
df

                                               Title      Price
0  HP Chromebook Intel Celeron N4020 35.6cm(14 in...  [₹29,490]
1  Lenovo IdeaPad 1 Intel Celeron N4020 11.6'' HD...  [₹28,553]
2  Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...  [₹28,301]
3  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  [₹26,990]
4  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  [₹25,590]
5  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  [₹24,460]
6  Lenovo IdeaPad 3 Chromebook Intel Celeron N402...  [₹21,990]
7  HP 14s-Intel Celeron N4500- 8GB RAM/256GB SSD ...  [₹21,990]
8  AVITA SATUS ULTIMUS S111 NU14A1INC43PN-MB 14.1...  [₹29,899]
9  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  [₹29,999]

In [230]:
driver.close()

# 9.python program to scrape data for first 10 job results for Data Scientist Designation in Noida from ambitionbox.com

In [231]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [232]:
driver.get('https://www.ambitionbox.com/')

# Select Jobs Column

In [233]:
search_field_jobs= driver.find_element_by_xpath("//a[starts-with(@class,'link jobs')]")
search_field_jobs.click()

Select Designation

In [234]:
search_field_designation= driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys("Data Scientist")

In [235]:
click_search=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/div/div[2]/div[2]")
click_search.click()

In [236]:
url='https://www.ambitionbox.com/jobs/search?designation=data-scientist'

In [237]:
driver.get(url)

Company_Name

In [238]:
company_name=[]
company_name_tag= driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_name_tag:
    company_name.append(i.text)
    
company_name

['Ericsson India Global Services Pvt. Ltd.',
 'JP Morgan Chase',
 'PFIZER LIMITED',
 'Accenture Solutions Pvt Ltd',
 'Concentrix Daksh Services India Private Limited.',
 'Shell India Markets Private Limited',
 'Sanofi India Ltd',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Walmart Labs']

In [239]:
time=[]
time_tag= driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in time_tag:
    time.append(i.text)
    
time=time[0::2]
time

['2d ago',
 '5d ago',
 '6d ago',
 '6d ago',
 '7d ago',
 '6d ago',
 '18d ago',
 '12d ago',
 '12d ago',
 '13d ago']

In [240]:
ratings=[]
ratings_tag=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in ratings_tag:
    ratings.append(i.text)
    
ratings

['4.2', '4.1', '4.1', '4.1', '4.1', '4.3', '4.5', '4.1', '4.1', '4.1']

Check The Length

In [241]:
print(len(company_name), len(time), len(ratings))

10 10 10

# Make DataFrame

In [242]:
df=pd.DataFrame({'Company_Name': company_name,
                 'Time _Ago': time,
                 'Ratings': ratings})

df

                                       Company_Name Time _Ago Ratings
0          Ericsson India Global Services Pvt. Ltd.    2d ago     4.2
1                                   JP Morgan Chase    5d ago     4.1
2                                    PFIZER LIMITED    6d ago     4.1
3                       Accenture Solutions Pvt Ltd    6d ago     4.1
4  Concentrix Daksh Services India Private Limited.    7d ago     4.1
5               Shell India Markets Private Limited    6d ago     4.3
6                                  Sanofi India Ltd   18d ago     4.5
7                            IBM India Pvt. Limited   12d ago     4.1
8                            IBM India Pvt. Limited   12d ago     4.1
9                                      Walmart Labs   13d ago     4.1

In [243]:
driver.close()

# 10.python program to scrape the salary data for Data Scientist designation from ambitionbox.com

In [244]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe')

In [245]:
driver.get('https://www.ambitionbox.com/')

# Select Salaries column

In [246]:
search_field_salaries= driver.find_element_by_xpath("//a[starts-with(@title,'Company Salaries')]")
search_field_salaries.click()

Select Designation Column

In [249]:
search_field_designation= driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_field_designation.send_keys("Data Scientist")

In [250]:
click_designation=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
click_designation.click()

#     
company_name

In [251]:
company_name=[]
company_name_tag= driver.find_elements_by_xpath("//div[@class='name']/a")
for i in company_name_tag:
    company_name.append(i.text)
    
company_name

['Walmart',
 'Ab Inbev',
 'Reliance Jio',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions']

# Total_salary

In [252]:
total_salary=[]
total_salary_tag= driver.find_elements_by_xpath("//div[@class='name']/span")
for i in total_salary_tag:
    total_salary.append(i.text)
    
total_salary

['based on 11 salaries',
 'based on 31 salaries',
 'based on 10 salaries',
 'based on 15 salaries',
 'based on 28 salaries',
 'based on 81 salaries',
 'based on 46 salaries',
 'based on 53 salaries',
 'based on 14 salaries',
 'based on 13 salaries']

# average_salary

In [253]:
average_salary=[]
average_salary_tag= driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in average_salary_tag:
    average_salary.append(i.text)
    
average_salary

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.4L',
 '₹ 15.1L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

salary

In [254]:
salary=[]
salary_tag= driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in salary_tag:
    salary.append(i.text)
    
salary

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.4L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L']

# minimum_salary

In [255]:
minimum_salary=salary[0::2]
minimum_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 5.6L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L']

# Maximum_salary

In [256]:
maximum_salary=salary[1::2]
maximum_salary

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 26.2L',
 '₹ 20.0L',
 '₹ 22.4L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L']

Check the length

In [257]:
print(len(company_name), len(total_salary), len(average_salary),len(minimum_salary), len(maximum_salary))

10 10 10 10 10

# Make DataFrame

In [258]:
df=pd.DataFrame({'Company_Name': company_name,
                 'Total_Salary': total_salary,
                 'Average_Salary': average_salary,
                 'Minimum_Salary': minimum_salary,
                 'Maximum_Salary': maximum_salary})
df

,Company_Name,Total_Salary,Average_Salary,Minimum_Salary,Maximum_Salary
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev,based on 31 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum,based on 28 salaries,₹ 15.4L,₹ 11.0L,₹ 22.4L
5,Fractal Analytics,based on 81 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L

In [259]:
driver.close()